API_ID=19349113 # get this value from my.telegram.org
API_HASH=c3fdbe129161814a15ae56cc2f4b3a4b # get this value from my.telegram.org
STRING_SESSION=1BVtsOK4Bu1q8c36cMDxxhG7f63oNjp_h4mDzQPh7fBgjTnCKD15CRkkax7vpMcSO6NphNDkpfH0z8V9SxBozvsxgh35sYAsNRe19YqF-rSNbFzzfIbpgfYENjGSfMNEfy6RPN2uK2FgcISdvTEiT07ryY8ZFccdfEDowy3CCsnowusrcPv34yKHtbbagaCeTOMw_jTfvvHzkALabzA9oPuHl0lmhWKFamxvB6KoPx0ed40k-bJR5CGekLsd3YcNBT074bHPF_CQS9yG6gSNjN8q9CxmtQ8qKVVDMJOkN7NuVqMJECoaaVfae4gkZ-jHGvsUKRyJbYBEn2-0blG3-hw8mXpQRnQ4= # get this value from @yukkistringbot
